##################################################################################################
#This file created by Huy Nguyen
#Updated date: 6/30/2024
##################################################################################################

# Compilation option for all testcase (Not supported yet)
cmp_opts =

# Coverage option: on | off (Not supported yet)
cov = on

# Dump wave option: on | off (Not supported yet)
wave = on

# To check pass condition in log file, format as string 
pass_key_word = "TEST PASSED"

# To check fail condition in log file, format as string 
fail_key_word = "TEST FAILED"

# Set verbosity option for UVM testbench (Not supported yet)
pl = UVM_LOW

tc_list {
    #default_value_register_test , run_times=1 , run_opts=+ip=on+testabc+value=10 ;

	default_value_reg_test			, run_times=1;
	rw_reg_test						, run_times=1; 
	rst_otf_reg_test				, run_times=1; 
	reserved_reg_test				, run_times=1;

	#uart_half_tx_test				, run_times=1; 
	uart_half_tx_seq_cfg_test		, run_times=1; 
	uart_half_tx_ran_cfg_test		, run_times=1; 

	#uart_half_rx_test				, run_times=1; 
	uart_half_rx_seq_cfg_test		, run_times=1; 
	uart_half_rx_ran_cfg_test		, run_times=1; 


	uart_full_duplex_seq_cfg_test	, run_times=1;
	uart_full_duplex_ran_cfg_test	, run_times=1;


	uart_corner_baud_jump_test		, run_times=1; 

	fifo_tx_test					, run_times=1; 
	fifo_rx_test					, run_times=1; 


	uart_interrupt_parity_test		, run_times=1; 
	uart_multi_interrupt_test		, run_times=1; 


}                                                           
